<a routerLink="/routeOne">One</a>
<br><br>
<a routerLink="/routeTwo">Two</a>
<br><br>
<app-reusable></app-reusable>
<router-outlet></router-outlet> <!-- ici le module de routage doit rendre le composant associé à la route -->